root { 
    display: block;
}

body {
    font-family: sans-serif;
}

br {
    clear: both;
}

span {
    display: block;
    float: left;
    width: 500px;
    padding: 8px 8px 8px 16px;
    margin: 2px;
    font-size: 14px;
    border-radius: 8px;
}

.success {
    background-color: rgb(90, 223, 28);
}

.failure {
    background-color: rgb(236, 0, 47);
}

.info {
    background-color: lightblue;
}

.warning {
    color: black;
    background-color: gold;
}

.description {
    font-size: 11px;
    padding-left: 16px;
    width: 96%
}

.contains-description {
    width: 490px;
    border-right: solid 10px rgb(186, 0, 47);
}

